<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nishant's Simple Node.js App for Cloud Computing Assignment</title>

    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
      }

      h1 {
        font-size: 24px;
        color: #fff;
        background-color: #04aa6d;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
        text-align: center;
        width: 100%;
        max-width: 600px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .form-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      form {
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
      }

      input[type="text"] {
        padding: 10px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        font-size: 16px;
      }

      input[type="submit"] {
        background-color: #04aa6d;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
      }

      input[type="submit"]:hover {
        background-color: #039a5d;
      }
    </style>
  </head>
  <body>
    <h1>Nishant's Simple Node.js App for Cloud Computing Assignment</h1>
    <div class="form-container">
      <form action="/index" method="GET">
        <input type="text" name="person" placeholder="Search Anything..." />
        <input type="submit" value="Search" />
      </form>
    </div>
  </body>
</html>
